*{
    overflow: hidden;
}
body{
    margin: 0px;
    padding: 0px;
}

.page{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.sidePanelController {
  z-index: 2;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 4vh;
  min-width: 2vw;
  background-color: transparent;
  cursor: pointer;
}

@media only screen and (max-width: 950px) {
    .sidePanelController{
        min-width: .5vw;
    }
}
@media only screen and (max-width: 550px) {
    .sidePanelController.display{
        display: none;
    }
}